<div class="splash-wrapper">
    <div class="circle-mask">   
        <img src="{{ 'assets/splash/blender-logo.jpg' | relative }}" alt="Me">
    </div>
    <div>   
        I’m an Electrical Engineering student with a deep passion for developing complex embedded systems. 
        Through my academic journey, I’ve honed my skills in hardware design, low-level programming, and embedded software, constantly seeking innovative ways to integrate technology into real-world applications.
        Whether working with microcontrollers, designing PCBs, or optimizing system performance, I am always excited to push the boundaries of what's possible in embedded systems.
        I’m eager to continue learning and contribute to projects that challenge and inspire me.
    </div>
</div>