<nav class="vnavbar-wrapper">
    <ul>
        <li>
            <a id="logo-link" href="{{ site.baseurl }}">
                <!--<img loading="lazy" src="{{ '/assets/logos/MCU_Temp_Logo.png' | relative_url}}" alt="Logo">-->
                Austin Sierco
            </a>
        </li>
        <li>
            About Me
        </li>
        <li>
            Projects
            <!--{% include svgs/apps.html %}-->
        </li>
        <li>
            <a href="https://github.com/amsierco">{% include svgs/github.html %}</a>
            <a href="https://www.instagram.com/lukele_studio?fbclid=PAZXh0bgNhZW0CMTEAAaenQoBxczjcqq_UaW2H39OPePCJcRm8tHgPA6c8IxwZUiLlZx-6Up6y5pC-NQ_aem_HQRn7us31ChuVu7IWKahHg">{% include svgs/instagram.html %}</a>
            <a href="www.linkedin.com/in/austinsierco">{% include svgs/linkedin.html %}</a>
        </li>
    </ul>
</nav>