@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Skranji&display=swap');
$background: #EFEFEF;
$primary: #c1c1c1;
$secondary: #404040;
$accent: #FF5F1F;
$padding1: 2rem 1rem;