@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Skranji&display=swap');

$padding1: 2rem 1rem;

$orange1: #FF6D1F;
$orange2: #E95D2C;
$orange3: #A63E1B;
$orange4: #FF5F1F;

$white1: #B0CEE2;

$gray1: #45586C;
$gray2: #efefef84;

$brown1: #424048;

$light1: #F5E7C6;
$light2: #FAF3E1;

$dark1: #222222;
$dark2: #1A2730;