---
---
@import "vars";

.cardgrid-wrapper{
    padding: $padding1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: none;
    font-size: 0.75rem;
    flex-direction: column;
    align-items: center;
    justify-content: start;

    h1 { 
       font-size: 3rem;
    }

    .grid-wrapper{
        width: 85%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 2rem;

        div {
            //aspect-ratio: 1 / 1.5;
        }
    
        .projectcard-wrapper {
            position: relative;

            #project-icons {
                position: absolute;
                z-index: 2;
                width: 100%;
                top: 0;
                left: 0;
                display: flex;
                justify-content: space-between;
                padding: 0.5rem 0.5rem;

                .icon {
                    background-color: $dark1;
                    margin: 1rem;
                    border-radius: 50%;
                }

                #icon-check {
                    fill: green;
                }

                #icon-x {
                    fill: red;
                }

                #icon-wrench {
                    fill: yellow;
                }

                svg {
                    width: 3rem;
                    height: 3rem;
                }
            }
        }

        .projectcard{
            z-index: 1;
            display: flex;
            flex-direction: column;
            overflow: none;
            height: auto;
            gap: 0.5rem;

            padding: 1rem 1rem;

            background-color: $light2;
            border-radius: 2%;
            color: $dark2;

            img {
                width: 100%;
                object-fit: cover;
                aspect-ratio: 1 / 1;
                border-radius: 5%;
            }

            h1 {
                font-size: 1.5rem;
            }

            div {
                font-size: 1.1rem;
            }
        }
    }
}