---
---
@import "vars";

#nav-main-wrapper{

    background-color: $background;
    color: $accent;
  
    border: solid 2px blue;
    display: flex;
    width: 100%;

    overflow-y: scroll;
}

.vnavbar-wrapper {
    flex: 1;
}
/*
#nav-main-wrapper > 
.vnavbar-wrapper:hover {
    background-color: pink;
    transition: 200ms ease;
    flex: 0.7;
}
*/
#home-main{
    width: 100%;
    border: solid 2px red;
    flex: 5;
}

.splash-wrapper{
    padding: $padding1;
    border: solid 2px blue;
}