---
---
@import "vars";

$iwidth: 30px;
$iheight: 30px;

.vnavbar-wrapper{
    width: 100%;
    height: 100vh;
    position: sticky;
    top: 0;
    border: solid 1px black;
    padding: $padding1;
    font-size: 1.5rem;
    border-right: solid 3px $light1;

    ul {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
    
        li:last-child {
            margin-top: auto;
            display: flex;
            align-items: center;
            justify-content: space-around;
            svg{
                fill: $light1;
                display: block;
            }
        }
    
        .icon{
            width: $iwidth;
            height: $iheight;
        }

        a {
            text-decoration: none;
            color: $light1;
            overflow: none;
        }
    }
}

#logo-link > img{
    max-width: 40px;
}
